@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.exercises {
  padding: 1rem 1rem 8rem;

  &__heading {
    @include page-heading;
  }

  &__list {
    @include container;
  }

  &__search {
    background-color: $secondary-background;
    border: none;
    border-bottom: 1px solid $border-color;
    padding: 0.5rem;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  &__name {
    @include list-item;
  }

  &__icon {
    height: 1rem;
  }
}

.add-exercise {
  padding: 1rem 1rem 8rem;

  &__heading {
    @include page-heading;
  }

  &__form {
    @include container;
  }

  &__input {
    @include input;
  }

  &__button {
    @include button;
  }

  &__icon {
    height: 0.8rem;
  }

  &__error {
    display: none;
    &--show {
      color: red;
      font-size: 0.8rem;
      font-weight: 500;
      display: initial;  
    }
  }
}

.exercise {
  padding: 1rem 1rem 8rem;

  &__heading {
    @include page-heading;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__record {
    @include container;
    margin-top: 1.5rem;
    text-align: center;
    position: relative;
  }

  &__stat {
    padding: 0.5rem;
  }

  &__label {
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  &__icon {
    height: 2rem;
  }

  &__form {
    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__input {
      @include input;
      width: 45%;
    }

    &__button {
      @include button;
    }
  }

  &__delete-record {
    position: absolute;
    right: 1rem;
    top: 3rem
  }
}