@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.exercises {
  padding: 1rem 1rem 8rem;
  @include tablet {
    padding-top: 4rem;
  }

  &__heading {
    @include page-heading;
  }

  &__list {
    @include container;
  }

  &__search {
    // background-color: $secondary-background;
    // border: none;
    // border-bottom: 1px solid $border-color;
    // padding: 0.5rem;
    // width: 100%;
    // text-align: center;
    // &:focus {
    //   outline: none;
    // }
    @include input;
    text-align: center;
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__name {
    @include list-item;
  }

  &__icon {
    height: 1rem;
    @include tablet {
      height: 1.2rem
    }
  }

  &__add {
    @include list-item;
    border-top: none;
    color: $secondary-color;
  }
}

.add-exercise {
  padding: 1rem 1rem 8rem;
  @include tablet {
    padding-top: 20rem;
  }

  &__heading {
    @include page-heading;
  }

  &__form {
    @include container;
  }

  &__input {
    @include input;
  }

  &__button {
    @include button;
  }

  &__cancel {
    @include button;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    color: $danger-color;
    border-color: $danger-color;
    @include tablet {
      margin-top: 0;
    }
  }

  &__error {
    display: none;
    &--show {
      color: $danger-color;
      font-size: 0.8rem;
      font-weight: 500;
      display: initial;  
    }
  }
}

.exercise {
  padding: 1rem 1rem 8rem;
  @include tablet {
    padding-top: 4rem;
  }

  &__heading {
    @include page-heading;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__record {
    @include container;
    margin-top: 1.5rem;
    text-align: center;
    position: relative;
  }

  &__stat {
    padding: 0.5rem;
    @include tablet {
      font-size: 1.5rem;
    }

    &--hide {
      display: none;
    }
  }

  &__label {
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
  }

  &__icon {
    height: 2rem;
    @include tablet {
      height: 3rem;
    }
  }

  &__form {
    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__input {
      @include input;
      width: 45%;

      &--note {
        resize: none;
        width: 100%
      }
    }

    &__button {
      @include button;
    }
  }

  &__delete-icon {
    height: 1rem;
    position: absolute;
    right: 0.5rem;
    @include tablet {
      height: 1.5rem
    }
  }

  &__delete {
    @include button;
    margin-top: 0;
    color: $danger-color;
    border-color: $danger-color;
    @include tablet {
      margin-top: 0;
    }
  }
}