@use './partials/resets' as *;

.app {
  background-color: #1F2833;
  min-height: 100vh;
  color: #C5C6C7;
}

.home {
  padding: 1rem 1rem 8rem;

  &__heading {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  &__category {
    background-color: #0B0C10;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;

    &__heading {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 0.7rem;
      padding-top: 1.5rem;
    }
  }

  &__name {
    text-decoration: none;
    border-top: 0.1px solid #45A29E;
    width: 100%;
    padding: 1rem;
    text-align: center;

    &--top {
      border-top: none;
    }
  }
}

.exercises {
  padding: 1rem 1rem 8rem;

  &__heading {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  &__list {
    background-color: #0B0C10;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
  }

  &__name {
    text-decoration: none;
    border-top: 0.1px solid #45A29E;
    width: 100%;
    padding: 1rem;
    text-align: center;

    &--top {
      border-top: none;
    }
  }

  &__icon {
    height: 1rem;
  }
}

.exercise {
  padding: 1rem 1rem 8rem;

  &__heading {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  &__record {
    background-color: #0B0C10;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__stat {
    padding: 0.5rem;
  }

  &__label {
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  &__icon {
    height: 2rem;
  }
}

.routines {
  padding: 1rem 1rem 8rem;

  &__heading {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  &__list {
    background-color: #0B0C10;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
  }

  &__name {
    text-decoration: none;
    border-top: 0.1px solid #45A29E;
    width: 100%;
    padding: 1rem;
    text-align: center;

    &--top {
      border-top: none;
    }
  }
}

.favourites {
  padding: 1rem 1rem 8rem;

  &__heading {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  &__list {
    background-color: #0B0C10;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
  }

  &__name {
    text-decoration: none;
    border-top: 0.1px solid #45A29E;
    width: 100%;
    padding: 1rem;
    text-align: center;

    &--top {
      border-top: none;
    }
  }

  &__icon {
    height: 1rem;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #0B0C10;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 4rem;
    text-decoration: none;
    color: #66FCF1;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -0.3rem;
  }

  &__icon {
    height: 3rem;
  }
}

.menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(11, 16, 35);

  &__list {
    margin: 50% 4rem;
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  &__item {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 3rem;
  }
}
