@use './partials/resets' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

.app {
  background-color: $primary-background;
  min-height: 100vh;
  color: $primary-color;
}

.login {
  padding: 9rem 1rem 8rem;
  @include tablet {
    margin: 0 auto;
    width: 30rem
  }

  &__heading {
    @include page-heading;
  }
  
  &__form {
    @include container;
    padding: 2rem
  }

  &__input {
    @include input;
  }

  &__button {
    @include button;
    width: 100%;
  }

  &__signup {
    font-size: 0.8rem;
    padding-top: 1rem;
    text-align: center;

    &__link {
      color: $secondary-color;
      font-size: 0.8rem;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.signup {
  padding: 7rem 1rem 8rem;
  @include tablet {
    margin: 0 auto;
    width: 30rem
  }

  &__heading {
    @include page-heading;
  }
  
  &__form {
    @include container;
    padding: 2rem
  }

  &__input {
    @include input;
  }

  &__button {
    @include button;
    width: 100%;
  }
  
  &__login {
    font-size: 0.8rem;
    padding-top: 1rem;
    text-align: center;

    &__link {
      color: $secondary-color;
      font-size: 0.8rem;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__error {
    color: $danger-color;
    font-size: 0.8rem;

    &__icon {
      height: 0.8rem;
    }

    &--hidden {
      display: none;
    }
  }

  &__note {
    opacity: 0.3;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: $secondary-background;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 4rem;
    text-decoration: none;
    color: $secondary-color;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -0.3rem;
    @include tablet {
      width: 100%;
      text-align: center;
    }
  }

  &__icon {
    height: 3rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  height: 90vh;
  width: 100vw;
  background-color: $secondary-background;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include tablet {
    justify-content: center;
  }

  &__list {
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    @include tablet {
      text-align: center;
    }
  }

  &__item {
    font-size: 3rem;
    font-weight: 100;
    text-decoration: none;
    padding-bottom: 3rem;
  }

  &__button {
    @include button;
    position: absolute;
    
    &--logout {
      top: 1rem;
      left: 1rem;  
    }

    &--profile {
      top: 1rem;
      right: 1rem;  
      text-decoration: none;
    }
  }
}

.active {
  font-weight: 400;
  color: $secondary-color;
}



