@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.adding {
  background-color: $secondary-background;
  border: none;
  &:focus {
    outline: none;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.routines {
  padding: 1rem 1rem 8rem;

  &__heading {
    @include page-heading;
  }

  &__list {
    @include container;
  }

  &__name {
    @include list-item;
  }

  &__add {
    @include list-item;
    border-top: none;
    color: $secondary-color;
  }
}

.add-routine {
  padding: 1rem 1rem 8rem;

  &__heading {
    @include page-heading;
  }

  &__form {
    @include container;
  }

  &__input {
    @include input;
  }

  &__button {
    @include button;
  }

  &__icon {
    height: 0.8rem;
  }

  &__error {
    display: none;
    &--show {
      color: red;
      font-size: 0.8rem;
      font-weight: 500;
      display: initial;  
    }
  }
}

.routine {
  padding: 1rem 1rem 8rem;

  &__icon {
    height: 2rem;
  }

  &__heading {
    @include page-heading;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    @include container;

    &__name {
      font-weight: 600;
      font-size: 1.2rem;
      padding: 0.5rem;
      text-align: center;
    }

    &__form {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
    }

    &__row {
      display: flex;
      align-items: center;
    }

    &__input {
      @include input;
      width: 75%;
    }

    &__stat {
      padding-bottom: 0.5rem;
      width: 50%;
    }

    &__button {
      @include button;
    }
  }
}