@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;


.home {
  padding: 1rem 1rem 8rem;

  &__heading {
    @include page-heading;
  }

  &__category {
    @include container;

    &__heading {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 0.7rem;
      padding-top: 1.5rem;
    }
  }

  &__name {
    @include list-item;
  }
}

.hidden {
  display: none;
}