@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.favourites {
  padding: 1rem 1rem 8rem;
  @include tablet {
    padding-top: 4rem;
  }

  &__heading {
    @include page-heading;
  }

  &__list {
    @include container;
  }

  &__name {
    @include list-item;
  }

  &__icon {
    height: 1rem;
  }
}