$primary-background: #1F2833;
$secondary-background: #0B0C10;

$primary-color: #C5C6C7;
$secondary-color: #66FCF1;

$border-color: #45A29E;

$danger-color: rgb(214, 94, 94);

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;